<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="UTF-8">
        <title>Bike Magazine</title>
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/css/reset.css" rel="stylesheet">
        <script type="text/javascript" src="/static/bower/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="/static/bower/handlebars/handlebars.min.js"></script>
        <script type="text/javascript" src="/static/js/webapp.js"></script>
    </head>
    <body class="blocker-unactive">
        <div id="wrapper">
            <div id="container">
                <div class="left-container"></div>
                <div class="right-container"></div>
                <div class="center-container">
                    <div class="switch-blank-pages">
                        <div class="blank-page"></div>
                        <div class="blank-page"></div>
                        <div class="blank-page"></div>
                        <div class="blank-page"></div>
                    </div>
                    <div class="switch-container">
                        <div id="news" class="filled-page"></div>
                        <div id="catalog" class="filled-page"></div>
                        <div id="training" class="filled-page"></div>
                        <div id="beginners" class="filled-page active"></div>
                    </div>
                </div>
            </div>
            <div id="footer"></div>
            <div id="header">
                <div id="menu"></div>
            </div>
        </div>
        <div class="blocker"></div>
        <div id="login" class="switch-login-pages">
            <div class="close-btn"></div>
            <div class="login-blank-page"></div>
            <div class="signin-tab active login-blank-page">
                <div class="login-tab">Sign-in</div>
                <div class="line"></div>
                <form>
                    <input type="text" id="sign-login" placeholder="Login" class="form-field">
                    <input type="password" id="sign-pass" placeholder="Password" class="form-field">
                    <label for="remember">
                        <input type="checkbox" id="remember" class="form-field">
                        <div><div></div></div>
                        <span>Remember me</span>
                    </label>
                    <input type="submit" id="signinbtn" value="Login" class="form-field">
                </form>
            </div>
            <div class="signup-tab login-blank-page">
                <div class="login-tab">Sign-up</div>
                <div class="line"></div>
                <form>
                    <div class="steps">
                        <div class="steps-placeholder">
                            <div class="step1">
                                <input type="text" id="e_mail" placeholder="E-mail" class="form-field">
                                <input type="text" id="pass" placeholder="Password" class="form-field">
                                <input type="text" id="rep_pass" placeholder="Repeat Password" class="form-field">
                            </div>
                            <div class="step2">
                                <input type="text" id="birthday" placeholder="Birthday" class="form-field">
                                <input type="text" id="age" placeholder="Age" class="form-field">
                                <label for="robot">
                                    <input type="checkbox" id="robot" class="form-field">
                                    <div><div></div></div>
                                    <span>I am not a robot.</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <input type="submit" id="next" value="Next" class="form-field">
                    <input type="submit" id="signupbtn" value="Create" class="form-field">
                </form>
            </div>
        </div>
        <script id="htMenuL1" type="text/x-handlebars-template">
            <ul>
                {{#each menuItems}}
                <li class="menu-item menu-item-l1 menu-item-color{{math @index '+' 1}}">
                    <div class="menu-line"></div>
                    <a class="menu-item-link text-menu" data-id="{{id}}" href="#_{{href}}" ><strong>{{name}}</strong></a>
                    <ul>
                        {{#each children}}
                        {{> htMenuL2}}
                        {{/each }}
                    </ul>
                </li>
                {{/each}}
            </ul>
        </script>
        <script id="htMenuL2" type="text/x-handlebars-template">
            <li class="menu-item menu-item-l2">
                <a href="{{href}}">{{name}}</a>
                <ul>
                    {{#each children}}
                    {{> htMenuL2}}
                    {{/each }}
                </ul>
            </li>
        </script>
        <script id="htNews" type="text/x-handlebars-template">
            {{#each news}}
            <div class="news-item news-item-size-x{{size}}">
                <a href="{{href}}">
                    <img src="/static/images/news/{{image}}" class="image">
                    <div class="news-title">{{title}}</div>
                </a>
                <div class="news-short-text">{{shortText}}</div>
            </div>
            {{/each}}
        </script>
        <script id="htNewsGallery" type="text/x-handlebars-template">
            <div class="info-block-list-container">
                <div class="news-sub-container-title news-sub-container-title-{{relIndex}} text-sub-container-title">{{subMenu.name}}</div>
                <ul>
                    {{#each subMenu.menu}}
                    <li class="news-sub-item">
                        <a href="#{{id}}" class="news-sub-link">
                            <div class="news-sub-label">
                                <span class="news-sub-date text-news-sub-date">{{date}}</span>
                                <span class="news-sub-title text-news-sub-title"><h2>{{title}}</h2></span>
                            </div>
                        </a>
                    </li>
                    {{/each}}
                    <div></div>
                    <div></div>
                </ul>
            </div>
            <div class="news-gallery-scroll-placeholder">
                <div class="news-gallery-container-scroll">
                    {{#columnLoop subMenu.menu}}
                    {{/columnLoop}}
                </div>
            </div>
        </script>
        <script id="htNewsGalleryBigItemColumn" type="text/x-handlebars-template">
            <div class="news-gallery-item-column">
                {{#each items}}
                <div id="{{id}}"class="news-gallery-item news-gallery-item-x{{size}}">
                    <a href="{{href}}" class="news-gallery-link">
                        <img src="/static/images/news/{{image}}" class="image">
                        <div class="news-gallery-label">
                            <div class="news-gallery-title text-news-title"><h2>{{title}}</h2></div>
                            <div class="news-gallery-item-date text-news-date"><h2>{{date}}</h2></div>
                            <div class="news-gallery-short-text text-news-short">{{shortText}}</div>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
        </script>
    </body>
</html>