/*******************loop************************/
/***********************************************/
@font-face {
  font-family: Oswald;
  src: url('/static/fonts/Oswald-Light.ttf');
}
@font-face {
  font-family: Droid;
  src: url('/static/fonts/DroidSansMono.ttf');
}
body {
  background-color: #f1f1f1 !important;
}
#wrapper {
  position: relative;
}
#wrapper .left-container {
  float: left;
  width: 100px;
}
#wrapper .center-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  min-width: 960px;
}
#wrapper .right-container {
  float: right;
  width: 100px;
}
#header {
  width: 100%;
  height: 40px;
  position: relative;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  position: fixed;
}
#footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}
#container {
  position: relative;
  top: 80px;
}
.news-container-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  border-right: 180px solid transparent;
  border-bottom: 20px solid transparent;
  border-top: 70px solid white;
  border-left: 52px solid white;
  bottom: 0;
}
.info-block-title-container {
  position: absolute;
  top: 0;
  left: 0;
}
#menu {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  min-width: 960px;
  height: 40px;
  line-height: 40px;
}
#menu .menu-item {
  font-family: Oswald;
  float: left;
  position: relative;
}
#menu .menu-item .menu-line {
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0px;
  left: 0;
  background-color: red;
  opacity: 0;
  transition: opacity .2s;
}
#menu .menu-item:hover.menu-item-color1 a {
  color: #f2671f;
}
#menu .menu-item:hover.menu-item-color1 .menu-line {
  background-color: #f2671f;
}
#menu .menu-item:hover.menu-item-color2 a {
  color: #c91b26;
}
#menu .menu-item:hover.menu-item-color2 .menu-line {
  background-color: #c91b26;
}
#menu .menu-item:hover.menu-item-color3 a {
  color: #9c0f5f;
}
#menu .menu-item:hover.menu-item-color3 .menu-line {
  background-color: #9c0f5f;
}
#menu .menu-item:hover.menu-item-color4 a {
  color: #9c0f5f;
}
#menu .menu-item:hover.menu-item-color4 .menu-line {
  background-color: #9c0f5f;
}
#menu .menu-item:hover.menu-item-color5 a {
  color: #60047a;
}
#menu .menu-item:hover.menu-item-color5 .menu-line {
  background-color: #60047a;
}
#menu .menu-item:hover.menu-item-color6 a {
  color: #f2671f;
}
#menu .menu-item:hover.menu-item-color6 .menu-line {
  background-color: #f2671f;
}
#menu .menu-item:hover.menu-item-color7 a {
  color: #c91b26;
}
#menu .menu-item:hover.menu-item-color7 .menu-line {
  background-color: #c91b26;
}
#menu .menu-item:hover.menu-item-color8 a {
  color: #9c0f5f;
}
#menu .menu-item:hover.menu-item-color8 .menu-line {
  background-color: #9c0f5f;
}
#menu .menu-item:hover.menu-item-color9 a {
  color: #9c0f5f;
}
#menu .menu-item:hover.menu-item-color9 .menu-line {
  background-color: #9c0f5f;
}
#menu .menu-item:hover.menu-item-color10 a {
  color: #60047a;
}
#menu .menu-item:hover.menu-item-color10 .menu-line {
  background-color: #60047a;
}
#menu .menu-item:hover.menu-item-color11 a {
  color: #f2671f;
}
#menu .menu-item:hover.menu-item-color11 .menu-line {
  background-color: #f2671f;
}
#menu .menu-item:hover.menu-item-color12 a {
  color: #c91b26;
}
#menu .menu-item:hover.menu-item-color12 .menu-line {
  background-color: #c91b26;
}
#menu .menu-item:hover.menu-item-color13 a {
  color: #9c0f5f;
}
#menu .menu-item:hover.menu-item-color13 .menu-line {
  background-color: #9c0f5f;
}
#menu .menu-item:hover.menu-item-color14 a {
  color: #9c0f5f;
}
#menu .menu-item:hover.menu-item-color14 .menu-line {
  background-color: #9c0f5f;
}
#menu .menu-item:hover.menu-item-color15 a {
  color: #60047a;
}
#menu .menu-item:hover.menu-item-color15 .menu-line {
  background-color: #60047a;
}
#menu .menu-item:hover .menu-line {
  opacity: 1;
}
#menu .menu-item-l1 > a {
  padding: 10px;
  margin: 10px;
}
#menu .menu-item-l2 {
  display: none;
}
.switch-blank-pages > *:nth-child( 1) {
  top: -20px;
  transform: scale(0.97);
  transition: top 1s, transform 1s;
}
.switch-blank-pages > *:nth-child( 2) {
  top: -14px;
  transform: scale(0.98);
  transition: top 1s, transform 1s;
}
.switch-blank-pages > *:nth-child( 3) {
  top: -8px;
  transform: scale(0.99);
  transition: top 1s, transform 1s;
}
.blank-page {
  width: 100%;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin: 10px 0;
  border-radius: 3px;
  overflow: hidden;
  height: 100px;
}
.filled-page {
  opacity: 0;
  transform: scale(0.99);
  top: -10px;
}
.filled-page.hidden {
  opacity: 1;
  top: 10px;
  transform: scale(1);
  transition: top 1s, transform 1s, opacity 1s;
}
.filled-page.active {
  opacity: 1;
  top: 0px;
  transform: scale(1);
  transition: top 1s, transform 1s, opacity 1s;
}
#catalog,
#training,
#beginners,
#news {
  width: 100%;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin: 10px 0;
  border-radius: 3px;
  overflow: hidden;
}
#catalog .news-gallery-container-scroll,
#training .news-gallery-container-scroll,
#beginners .news-gallery-container-scroll,
#news .news-gallery-container-scroll {
  width: 10000px;
}
#catalog .news-gallery-item,
#training .news-gallery-item,
#beginners .news-gallery-item,
#news .news-gallery-item {
  overflow: hidden;
  float: left;
}
#catalog .news-gallery-item .news-gallery-link,
#training .news-gallery-item .news-gallery-link,
#beginners .news-gallery-item .news-gallery-link,
#news .news-gallery-item .news-gallery-link {
  display: block;
  position: relative;
  font-family: Oswald;
}
#catalog .news-gallery-item .news-gallery-link .news-gallery-label,
#training .news-gallery-item .news-gallery-link .news-gallery-label,
#beginners .news-gallery-item .news-gallery-link .news-gallery-label,
#news .news-gallery-item .news-gallery-link .news-gallery-label {
  transition: background-color 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  width: 4em;
  font-size: 2em;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#catalog .news-gallery-item .news-gallery-link .news-gallery-label .news-gallery-short-text,
#training .news-gallery-item .news-gallery-link .news-gallery-label .news-gallery-short-text,
#beginners .news-gallery-item .news-gallery-link .news-gallery-label .news-gallery-short-text,
#news .news-gallery-item .news-gallery-link .news-gallery-label .news-gallery-short-text {
  font-size: 0.5em;
  font-family: Droid;
  color: #62BD6E;
}
#catalog .news-gallery-item .news-gallery-link .news-gallery-label .news-gallery-title,
#training .news-gallery-item .news-gallery-link .news-gallery-label .news-gallery-title,
#beginners .news-gallery-item .news-gallery-link .news-gallery-label .news-gallery-title,
#news .news-gallery-item .news-gallery-link .news-gallery-label .news-gallery-title {
  color: white;
}
#catalog .news-gallery-item .news-gallery-link .news-gallery-label:hover,
#training .news-gallery-item .news-gallery-link .news-gallery-label:hover,
#beginners .news-gallery-item .news-gallery-link .news-gallery-label:hover,
#news .news-gallery-item .news-gallery-link .news-gallery-label:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
#catalog .news-gallery-item img,
#training .news-gallery-item img,
#beginners .news-gallery-item img,
#news .news-gallery-item img {
  transform: scale(1);
  transition: transform 10s;
}
#catalog .news-gallery-item:hover img,
#training .news-gallery-item:hover img,
#beginners .news-gallery-item:hover img,
#news .news-gallery-item:hover img {
  transform: scale(2.5);
  transition: transform 10s;
}
#catalog .news-gallery-item-x1,
#training .news-gallery-item-x1,
#beginners .news-gallery-item-x1,
#news .news-gallery-item-x1 {
  width: calc(160px);
  height: calc(90px);
}
#catalog .news-gallery-item-x1 img,
#training .news-gallery-item-x1 img,
#beginners .news-gallery-item-x1 img,
#news .news-gallery-item-x1 img {
  width: calc(160px);
  height: calc(90px);
}
#catalog .news-gallery-item-x2,
#training .news-gallery-item-x2,
#beginners .news-gallery-item-x2,
#news .news-gallery-item-x2 {
  width: calc(320px);
  height: calc(180px);
}
#catalog .news-gallery-item-x2 img,
#training .news-gallery-item-x2 img,
#beginners .news-gallery-item-x2 img,
#news .news-gallery-item-x2 img {
  width: calc(320px);
  height: calc(180px);
}
#catalog .news-gallery-item-x3,
#training .news-gallery-item-x3,
#beginners .news-gallery-item-x3,
#news .news-gallery-item-x3 {
  width: calc(480px);
  height: calc(270px);
}
#catalog .news-gallery-item-x3 img,
#training .news-gallery-item-x3 img,
#beginners .news-gallery-item-x3 img,
#news .news-gallery-item-x3 img {
  width: calc(480px);
  height: calc(270px);
}
#catalog .news-gallery-item-x4,
#training .news-gallery-item-x4,
#beginners .news-gallery-item-x4,
#news .news-gallery-item-x4 {
  width: calc(640px);
  height: calc(360px);
}
#catalog .news-gallery-item-x4 img,
#training .news-gallery-item-x4 img,
#beginners .news-gallery-item-x4 img,
#news .news-gallery-item-x4 img {
  width: calc(640px);
  height: calc(360px);
}
#catalog .news-gallery-item-x5,
#training .news-gallery-item-x5,
#beginners .news-gallery-item-x5,
#news .news-gallery-item-x5 {
  width: calc(800px);
  height: calc(450px);
}
#catalog .news-gallery-item-x5 img,
#training .news-gallery-item-x5 img,
#beginners .news-gallery-item-x5 img,
#news .news-gallery-item-x5 img {
  width: calc(800px);
  height: calc(450px);
}
#catalog .news-gallery-item-x6,
#training .news-gallery-item-x6,
#beginners .news-gallery-item-x6,
#news .news-gallery-item-x6 {
  width: calc(960px);
  height: calc(540px);
}
#catalog .news-gallery-item-x6 img,
#training .news-gallery-item-x6 img,
#beginners .news-gallery-item-x6 img,
#news .news-gallery-item-x6 img {
  width: calc(960px);
  height: calc(540px);
}
#catalog .news-gallery-item-x7,
#training .news-gallery-item-x7,
#beginners .news-gallery-item-x7,
#news .news-gallery-item-x7 {
  width: calc(1120px);
  height: calc(630px);
}
#catalog .news-gallery-item-x7 img,
#training .news-gallery-item-x7 img,
#beginners .news-gallery-item-x7 img,
#news .news-gallery-item-x7 img {
  width: calc(1120px);
  height: calc(630px);
}
#catalog .news-gallery-item-x8,
#training .news-gallery-item-x8,
#beginners .news-gallery-item-x8,
#news .news-gallery-item-x8 {
  width: calc(1280px);
  height: calc(720px);
}
#catalog .news-gallery-item-x8 img,
#training .news-gallery-item-x8 img,
#beginners .news-gallery-item-x8 img,
#news .news-gallery-item-x8 img {
  width: calc(1280px);
  height: calc(720px);
}
#catalog .news-gallery-item-x9,
#training .news-gallery-item-x9,
#beginners .news-gallery-item-x9,
#news .news-gallery-item-x9 {
  width: calc(1440px);
  height: calc(810px);
}
#catalog .news-gallery-item-x9 img,
#training .news-gallery-item-x9 img,
#beginners .news-gallery-item-x9 img,
#news .news-gallery-item-x9 img {
  width: calc(1440px);
  height: calc(810px);
}
#catalog .news-gallery-item-x10,
#training .news-gallery-item-x10,
#beginners .news-gallery-item-x10,
#news .news-gallery-item-x10 {
  width: calc(1600px);
  height: calc(900px);
}
#catalog .news-gallery-item-x10 img,
#training .news-gallery-item-x10 img,
#beginners .news-gallery-item-x10 img,
#news .news-gallery-item-x10 img {
  width: calc(1600px);
  height: calc(900px);
}
